---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/sections/Nav.astro';
import Hero from '../components/sections/Hero.astro';
import Marquee from '../components/sections/Marquee.astro';
import About from '../components/sections/About.astro';
import Skills from '../components/sections/Skills.astro';
import Featured from '../components/sections/Featured.astro';
import Projects from '../components/sections/Projects.astro';
import Experience from '../components/sections/Experience.astro';
import Education from '../components/sections/Education.astro';
import Testimonials from '../components/sections/Testimonials.astro';
import Activity from '../components/sections/Activity.astro';
import Contact from '../components/sections/Contact.astro';
import Footer from '../components/sections/Footer.astro';
---

<Layout>
	<Nav />
	<main>
		<Hero />
		<Marquee />
		<About />
		<Skills />
		<Featured />
		<Projects />
		<Experience />
		<Education />
		<Testimonials />
		<Activity />
		<Contact />
	</main>
	<Footer />
</Layout>
